* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Arial', 'sans-serif';
}

.title {
    margin: 3rem 0 0 0;
    font-weight: 900;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    width: 60%;
}

.title,
.info,
.generate {
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: royalblue;
}

.info,
.generate {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}

.wrapper {
    position: relative;
    width: fit-content;
}

img {
    max-width: 100%;
    margin: 4.5rem 0 0 0;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 7.5rem;
    height: 6rem;
    margin: 2rem 0 2rem 0;
}

.imgButton {
    width: 4rem;
    height: 4rem;
    margin: 0 0 0 0;
    cursor: pointer;
}

.generate {
    position: absolute;
    font-weight: 800;
    bottom: 2rem;
    padding: 0 0.5rem 0 0.5rem;
    text-shadow: -0.1rem -0.1rem 0 black, 0.1rem -0.1rem 0 black, -0.1rem 0.1rem 0 black, 0.1rem 0.1rem 0 black;
}

.rotate {
    animation: rotate 0.3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1025px) {
    .title {
        font-size: 2.3rem;
        width: 100%;
    }

    .info {
        font-size: 1.4rem;
        margin: 1rem 0 0 0;
    }

    .generate {
        font-size: 1.4rem;
    }

    .info,
    .generate {
        letter-spacing: 0rem;
    }
}